
<ion-tabs class="main-tabs">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Pokedex
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="home" layout="icon-start">
      <ion-icon name="logo-reddit"></ion-icon>
      <ion-label>Pokemons</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="terms" layout="icon-start">
      <ion-icon name="pencil"></ion-icon>
      <ion-label>Feedback</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>